* {
    /*background: rgba(0, 0, 0, .1);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .1s;
    -moz-transition: background .1s ;
    -ms-transition: background .1s ;
    -o-transition: background .1s ;
    transition: background .1s ;
}
body{
    background: #00334b;
    color: #fff;
}
.container{
    max-width: 35em;
    margin: 0 auto;
    width: 90%;
    /*padding: 5em 5em;*/
    position: relative;
    padding: 0 .3em;
}
h1 {
   text-align: center;
}

.task-list {
    margin: 1.3em 0;
}

input,
.task-item,
.task-detail-mask,
textarea,
button{
    border-radius: .3em;
    padding: .8em;
}
textarea,
input[type=text], input[type=date]{
    display: block;
    width: 100%;
    border:0;
    background: #eeeeee;
    -webkit-box-shadow: inset .1em .1em rgba(0, 0, 0, .1);
    -moz-box-shadow: inset .1em .1em rgba(0, 0, 0, .1);
    box-shadow: inset .1em .1em rgba(0, 0, 0, .1);
}
textarea {
    max-height: 8em;
    min-height: 1em;
    margin: 1em auto;
}
textarea:hover,
input[type=text]:hover,
input[type=date]:hover,
input[type=text]:focus,
input[type=date]:focus
{
   background: #ffffff;
    -webkit-box-shadow: inset .1em .1em rgba(0, 0, 0, .3);
    -moz-box-shadow: inset .1em .1em rgba(0, 0, 0, .3);
    box-shadow: inset .1em .1em rgba(0, 0, 0, .3);
}
button{
    display: inline-block;
    boder: 0;
    cursor: pointer;
    background: #46b1e4;
}

.add-task input[type=text]{
    float: left;
    width:84%;
    margin-right: 1%;
}
.add-task [type=submit]{
    width:15%;
    background: #46b1e4;
}
.anchor,
.add-task [type=submit],
.task-item{
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.add-task [type=submit]：hover {
    background: #5fb9e4;
}
.task-item{
    padding: .5em;
    background: #fff;
    color: #333;
    margin-bottom: .1em;
    cursor: pointer;

}

.task-item:hover{
    background: #dddddd;
}

.task-detail {
    position: absolute;
    padding: 1em;
    bottom: 0;
    right: 0;
    width:50%;
    height: 80%;
    overflow: auto;
    color: #333333;
    background: #fff;
}
.task-detail .container {
    padding: 1em;
    font-weight: 900;
    cursor: pointer;
}
.task-detail-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .6 );
}

.task-detail-mask,
.task-detail {
    display: none;
}
/*详细删除样式*/
.action {
    color: #777;
    font-size: 1em;
}
/*总样式向右浮动*/
.floatR {
    float: right;
}
.task-content {
    margin-left: .4em;
}

.task-item.completed {
    color: #aaaaaa;
    /*background: rgba(255, 255, 255, .2);*/
    opacity: .4;
}
.task-item.completed:after {
    content: " ";
    height: .1em;
    width: 97%;
    position: relative;
    top: -.6em;
    display: block;
    background: #aaaaaa;
    float: right;
    clear: both;
}

.msg {
    display: none;
    text-align: center;
    background: #ffe264;
    padding: 1em;
    color: #333333;
}
.anchor {
    cursor: pointer;
    background: #46b1e4;
}

.alerter {
    /*opacity: 0;*/
    width: 0;
    height: 0;
}
.primiary {
    /*float: left;*/
    /*margin-left: 38%;*/
}